body-night {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  height: 100vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.us-stats-night {
  background-color: grey;
  color: black;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
  padding: 10px;
  margin-top: 15px;
}
.us-stats {
  background-color: skyblue;
  color: black;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
  padding: 10px;
  margin-top: 15px;
}
.map-night {
  height: 85vh;
  width: 100%;
  background-color: grey;
  color: black;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.map {
  height: 85vh;
  width: 100%;
  background-color: skyblue;
  color: black;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;

}
.btn-grey .active{
  background-color: slategray;
}
.pie-night{
  height: auto;
  max-width: 100%;
  background-color: grey;
  color: black;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
  padding: 10px;
  margin-top: 50px;
}
.pie{
  height: auto;
  max-width: 100%;
  background-color: skyblue;
  color: black;
  border-radius: 3px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
  padding: 10px;
  margin-top: 50px;
}

.margin-top{
  margin-top: 10px;
}

.btn-size{
  font-size: 10px;
}